* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    align-items: center;
}

body {
    background-color: #eee;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100vw;
    display: flex;
    padding: 0 20px;
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

header img {
    max-width: 150px;
    height: 85px;
}

.logo {
    display: flex;
}

.navbar {
    display: flex;
    width: 65vw;
    padding: 10px;
    flex-direction: row-reverse;
}

ul {
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.nav-button, .explore-button {
    padding: 12px;
    background-color: red;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
}

.nav-button:hover {
    filter: brightness(80%);
}

li:hover {
    text-decoration: underline;
}

.gallery, .explore {
    display: block;
    flex-wrap: wrap;
    margin: auto 50px;
    padding: 40px;
    justify-content: center;
}

.gallery-header, .explore-header {
    display: flex;
    flex-direction: row;
    margin: 30px auto;
    padding: 0 auto;
    justify-content: center;
}

.gallery-pic {
    max-width: 960px;
    min-width: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: auto;
    margin: auto;
}

.pic {
    border-radius: 12px;
    margin: 8px;
}

input {
    font-size: 1.2rem;
}

.explore-input {
    display: flex;
    flex-direction: column;
    margin: 12px auto;
    padding: auto;
    justify-content: center;
}

.explore-button {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    font-size: 1rem;
    /*  padding: 12px;
    color: #FFDB58;
    background-color: #66023c;
    border-radius: 20px;
    font-weight: bold;        */
}